@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* === Tailwind v4 테마 설정 === */
@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --spacing: 0.0625rem;
}

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
  }

  html {
    font-family: 'Pretendard', system-ui, sans-serif;
    word-break: keep-all;
    color: black;
    background-color: white;
  }

  /* 마크다운 코드블록 스타일 */
  .prose pre {
    background-color: transparent !important;
    padding: 0 !important;
    border-radius: 1rem !important;
    line-height: normal !important;
    overflow-x: auto !important;
  }

  .prose pre code {
    padding: 1.5rem !important;
  }

  .prose code:not(pre code):not(.not-prose code) {
    background-color: #f4f4f5;
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
  }
}
